
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.out/

.env
.env.local
.env.development
.env.production

node_modules/.prisma/

prisma/dev.db

postgres_data/
docker-data/

logs/
*.log

.DS_Store
.vscode/
