version: '3.9'

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: transcendence_user
      POSTGRES_PASSWORD: ghizlane4074.M
      POSTGRES_DB: transcendence_db
    ports:
      - "5432:5432"
    volumes:
      - postgresql:/var/lib/postgresql/data

volumes:
  postgresql:
